{{!-- views/books/book-edit.hbs --}}

<h2>Edit the Book: {{title}}</h2>

<form action="/books/edit/{{_id}}" method="post">

    <label> Title:
        <input type="text" name="title" value="{{title}}" />
    </label>

    <label> Image URL:
        <input type="text" name="imageUrl" value="{{imageUrl}}" />
    </label>

    <label> Link to the book:
        <input type="text" name="link" value="{{link}}" />
    </label>

    <label> Author:
        <input type="text" name="author" value="{{author}}" />
    </label>

    <label> Genre:
        <input type="text" name="genre" value="{{genre}}" />
    </label>

    <label> Parts:
        <input type="text" name="parts" value="{{parts}}" />
    </label>

    <label> Description:
        <textarea name="description" cols="30" rows="4">{{description}}</textarea>
    </label>




    <button>Save changes</button>
</form>